<!DOCTYPE html>
<html>

<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container" v-for='r in rows'>
            <div :class="[active[0]==r&&active[1]==c ? 'active' : 'cell']" v-for='c in columns'>
                <div class="cyfra">
                    {{r}},{{c}}
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '1',
                rows: 10,
                columns: 10,
                active:[1,1]
            }
        })
    </script>
</body>

</html>

